<div class="container">
  <h1 class="mt-3">Student profile list</h1>
  <div class="d-flex justify-content-end mt-3">
    <a
      [routerLink]="['/studentProfiles/studentProfileList/add']"
      class="btn btn-primary"
      >Add student profile</a
    >
  </div>

  <ng-container *ngIf="studentProfiles">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>StudentLogin/th></th>
          <th>StudentCardNumber/th></th>
          <th>Description</th>
          <th>Age</th>
          <th>Date of birth</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let studentProfile of studentProfiles">
          <td>{{ studentProfile.firstName }}</td>
          <td>{{ studentProfile.lastName }}</td>
          <td>{{ studentProfile.studentLogin }}</td>
          <td>{{ studentProfile.studentCardNumber }}</td>
          <td>{{ studentProfile.description }}</td>
          <td>{{ studentProfile.age }}</td>
          <td>{{ studentProfile.dateOfBirth }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
